@{
    ViewData["Title"] = "Links";
}
<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Links</h2>
                <p>Below are the talented students I went through Centriq Training with.</p>
            </div>

            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <a href="andcroft.com" target="_blank">
                        <div class="card h-100">
                            <img class="card-img-top" img src="~/assets/img/classMates/Andrew.jpg" class="img-fluid" alt="">
                            <div class="card-body text-center">
                                <h4 class="card-title m-0">Andrew Cocroft</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 mb-4 mb-md-0">
                    <a href="http://jacecockrell.com" target="_blank">
                        <div class="card h-100">
                            <img class="card-img-top" img src="~/assets/img/classMates/Jace.png" class="img-fluid" alt="">
                            <div class="card-body text-center">
                                <h4 class="card-title m-0">Jace Cockrell</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 mb-4 mb-md-0">
                    <a href="http://www.ritterhaus.net" target="_blank">
                        <div class="card h-100">
                            <img class="card-img-top" img src="~/assets/img/classMates/Rob.jpg" class="img-fluid" alt="">
                            <div class="card-body text-center">
                                <h4 class="card-title m-0">Robert Ritter</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <a href="http://www.nicholasdavolt.com/" target="_blank">
                        <div class="card h-100">
                            <img class="card-img-top" img src="~/assets/img/classMates/Nicholas.jpg" class="img-fluid" alt="">
                            <div class="card-body text-center">
                                <h4 class="card-title m-0">Nicholas Davolt</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <a href="www.codyslivinski.com" target="_blank">
                        <div class="card h-100">
                            <img class="card-img-top" img src="~/assets/img/classMates/Cody.jpg" class="img-fluid" alt="">
                            <div class="card-body text-center">
                                <h4 class="card-title m-0">Cody Slivinski</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="goughkyle.com ">
                        <div class="card h-100">
                            <img class="card-img-top" img src="~/assets/img/classMates/Kyle.jpg" class="img-fluid" alt="">
                            <div class="card-body text-center">
                                <h4 class="card-title m-0">Kyle Gough</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <a href="devschmidt.com">
                        <div class="card h-100">
                            <img class="card-img-top" img src="~/assets/img/classMates/Devon.jpg" alt="">
                            <div class="card-body text-center">
                                <h4 class="card-title m-0">Devon Schmidt</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->
