@{
    ViewData["Title"] = "Resume";
}

<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>

                <div class="container">
                    <object data="~/files/Darron Werntz Resume IT.pdf" type="application/pdf" width="100%" height="600px">
                        <p>
                            Unable to display PDF file! <a href="files/Darron Werntz Resume IT.pdf"></a>
                        </p>
                    </object>
                    <style>
                        .container {
                            padding: 30px;
                        }
                    </style>
                </div>

            </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->
